* {margin: 0;}

html, body {height: 100%; margin:0 1px;}

div#container {min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -71px;}
div#classList {width: 900px; top: -90px;}

div#footer {height: 30px; clear: both; padding-top: 10px; border-top: 1px solid midnightblue;}

div#header {width: 100%; height: 250px; margin: 0; padding: 0;}
div#header-narrow {display:none;}
div#breadcrumb {width: 850px; text-align: center; margin-top: 10px; font-size: 14px; margin-left: auto; margin-right: auto; line-height: 20px; font-family: arial;}
div#breadcrumb span.crumb, div#breadcrumb span.lastcrumb {margin: 0 20px;}
xdiv#breadcrumb span.crumb {padding-right: 20px;}
div#breadcrumb span#crumb1 {font-weight: bold; color: orange; font-style: italic;}

form#pepForm, div#demographics, div#classes, div#waiver, div#contactVendor {display: none;}

div#frontpage, form#pepForm {width: 600px; margin-left: auto; margin-right: auto; position: relative; top: -90px;}
div#frontpage {width: 800px;}

div#classListInstructions {font-weight: bold; font-size: large;}

#img_logo {float: left; padding-top: 5px;}

h1, h2, h3, h4 {margin-left: auto; margin-right: auto; text-align: center; padding-top: 15px;}
h1 {font-size: 26px;}
h2 {font-size: 20px; font-weight: bold;}
h3 {width: 100%; font-size: 20px; border-bottom: 1px solid midnightblue; color: midnightblue; margin: 10px 0 20px; padding-bottom: 5px;}
h4 {font-size: 20px; margin-bottom: 15px; text-align: left;}

fieldset.data_input input {border: 1px solid #ccc; width: 250px; float: left;}
div.fld {width: 250px;}

fieldset#submit1, fieldset#submit2 {border-top: 1px solid #a6a6a6; padding: 10px 0 20px; text-align: right;}
fieldset#submit2 {width: 900px;}

div.txtbox, div.select {height: 35px; margin-bottom: 5px;}

label {width: 200px; text-align: right; float: left; margin: 0 20px 0 0;}

div.fld {float: left;}

#tblClasses {border-style: groove; border-width: 5px; border-color: lightblue; padding: 0; width: 900px;}
#tblClasses tr#classHeader {background-color: #3300cc; color: white;}
#tblClasses tr.white {background-color: white;}
#tblClasses tr.cream {background-color: #ffff99;}
#tblClasses td {border-style: solid; border-width: 0 1px 1px; text-align: center;}

label.error {width: 210px; color: red; clear: both; text-align: left;}
fieldset.data_input input.error {border-color: red; background-color: #fff2f2;}

.bold {font-weight: bold;}
a:link, a:visited, a:active {color: #000; text-decoration: none;}
a:hover {color: orange;}

#btn-back-1, #btn-back-2, #btn-back-3 {float: left;}
#btn-next-1, #btn-next-2, #btn-next-3 {float: right;}

#studentNameFirst, #studentNameLast, #parentName, #pickedupby {text-transform: capitalize;}
fieldset#submit0 {margin-top: 15px;}
fieldset#submit1 {margin-top: 15px;}
#inp_group-1 .fld {margin: 0 0 10px 220px; clear: both;}
#inp_group-1 .fld input {width: 12px; margin-top: 4px;}
#inp_group-1 .fld input.moreinfo {width: 250px; margin-left: 0px;}
#inp_group-1 .fld label {text-align: left; margin-right: 0; margin-left: 10px; width: 150px;} 
#inp_group-1 label.invalid {display: none;} 
div#waiver {margin-top: 10px;}
.bold {font-weight: bold;}
.red {color: red;}
.margined {margin: 15px 0;}
.pepForm {list-style-type: none; margin: 0 0 0 30px; padding-top: 10px;}
div#agreements p {margin: 15px 0;}
div#agreements a:link, div#agreements a:visited, div#agreements a:active {color: blue;}
div#agreements a:hover {text-decoration: underline;}
ol {list-style: lower-roman outside none;}
ol li {margin: 10px 0 0 20px;}

div#breadcrumb div {text-align: center; width: 150px; height: 50px; float: left;}
div#breadcrumb span.crumb, div#breadcrumb span.lastcrumb {margin: 0;}

@media screen and (max-width:480px){
	div#header{display:none;}
	br {display:none;}
	div#header-narrow{display:block;}
	div#classList {top:auto;}
	
	table, thead, tbody, th, tr { 
		display: block; 	
	}
	
	h1,h2 {padding-top: 5px;}
	div#frontpage,form#pepForm {width: 100%; top: 0px;}
	#tblClasses {width:100%;}

	span#classListInstructions {display:none;}
	tr#classHeader { display:none;}
	tr { border: 1px solid #ccc; }
	
	td.fee,td.meets,td.dates,td.grades,td.classname,td.classname2,td.selectclass { 
		/* Behave  like a "row" */
		display: block; 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		width:100%;
	}
	td:before { 
		position: absolute;
		top: 0px;
		left: 5px;
		padding-right: 10px; 
		white-space: nowrap;
		float: left;
	}
	td.selectclass {text-align: left;}
	
	td.selectclass:before { content: "Enroll for this class";}
	td.grades:before { content: "Grades"; }
	td.meets:before { content: "Meets"; }
	td.fee:before { content: "Fee"; }
	td.dates:before { content: "Dates"; }
	 
	label {font-weight:12; text-align: left; float: left; margin: 0 0 0 10px;}
	div.fld {float:none;}
	input#btn-next-3,input#btn-next-2 { float:left;}
	div#footer {margin-top: 15px;}
	fieldset.data_input input { float:none;}
	#inp_group-1 .fld { margin: 0px 0 10px 0; }
	#inp_group-1 { margin-top: 20px; }

	fieldset#submit2 {width: 100%;}
	div#classList { width: 100%; top:0px;}
}
