table {margin: 0; padding: 0; width: 100%; border: 1px solid #000;}
td {text-align: center; border: 1px solid #666;}
th {border: 1px solid #666666; background-color: #FFC;}
#title {width: 500px; margin-left: auto; margin-right: auto;}

td.nolines{border: 0;}
.bold {font-weight: bold;}
.white {background-color: #fff;}
.cream {background-color: #ffff99;}

.red {color: red;}
.green {color: green;}
.larger {font-size: 18px;}
.smaller {font-size: 14px;}

.left {text-align:left}
@media print {
	table.schedule {page-break-before: always;}
	table, tr, td {page-break-inside: avoid;}
}